@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&family=Raleway:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.propertie-add__section {
    padding: 128px 0px 0px 0px;
    margin-bottom: 96px;
}

.propertie-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
}

.propertie-search input {
    padding: 5px 5px;
    border-radius:4px;
    border:none;
    border-bottom: 2px solid  #E6E9EC;
    outline: none;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.propertie-border {
    padding: 24px 37px 48px 30px;
    border-radius: 3px;
    border: 1px solid var(--border-color, #E6E9EC);
    background: var(--color-5, #FFF);
    box-shadow: 0px 10px 30px 0px rgba(13, 38, 59, 0.05);
}

.propertie-heading {
    margin-bottom: 16px;
    color: var(--color-2, #0D263B);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
}

.border-left {
    display: flex;
}

.propertie-card {
    position: relative;
}

.propertie-featured {
    position: absolute;
    top: 5px;
    left: 5px;

}

.propertie-featured button {
    padding: 5px 12px;
    border-radius: 3px;
    border: none;
    background: var(--color-1, #0061DF);
    color: #FFFfff;
    font-family: Cerebri Sans;
    line-height: normal;
}

.propertie-featured button:hover {
    background-color:rgb(119, 86, 211);
    transition: all .3s ease-in;
}

